<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="{% static 'css/firstpage.css' %}">
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> <!-- 값 제어를 위해 jquery -->
        <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css" media="all">
        <!-- Air datepicker css -->
        <script src="{% static 'js/datepicker.js' %}"></script> <!-- Air datepicker js -->
        <script src="{% static 'js/datepicker.ko.js' %}"></script> <!-- 달력 한글 추가를 위해 커스텀 -->
    </head>
    <body>
        <header>
            <title>HIDDEN CHANNEL MONITORING</title>
            <div id=title>
                <a href=''><img id=logo src="{% static 'images/logo.png' %}" ></a><br>
                <strong>HIDDEN CHANNEL MONITORING</strong>
            </div>
            
        </header>
            <div id=content>
                <form action="" onsubmit="return false">
                    <div id=platform>
                        <h3>플랫폼</h3>
                        <input type="checkbox" name="platform" value="twitter"> 트위터<br>
                        <input type="checkbox" name="platform" value="telegram"> 텔레그램<br>
                        <input type="checkbox" name="platform" value="discord"> 디스코드
                    </div>
                    <div id=type>
                        <h3>범죄 유형</h3>
                        <input type="checkbox" name="crime" value="sexcrime"> 성범죄<br>
                        <input type="checkbox" name="crime" value="drug"> 마약<br>
                        <input type="checkbox" name="crime" value="gambling"> 도박
                    </div>
                    <div id=calender>
                        <h3>기간 선택</h3>
                        <input type="text" id="datepicker1"> ~ <input type="text" id="datepicker2">
                    </div>
                    <div id=submit>
                        <button type="submit" onclick='printresult()' id="search">검색
                    </div>
                    
                </form>
                
                <div id=tab></div>

            </div>
            <footer></footer>

    </body>

    <script>
        function printresult(){
            var html="";
            html+="<table>";
            html+="<tr>";
            html+="<th>No.</th>";
            html+="<th>Channel</th>";
            html+="<th>URL</th>";
            html+="<th>Risk</th>";
            html+="</tr>";

            html+="{% for data in datas %}";
            html+="<tr>";
            html+="<td><strong>{{data.index}}</strong></td>";
            html+="<td>{{data.channel}}</td>";
            html+="<td>{{data.url}}</td>";
            html+="<td>{{data.risk}}</td>";
            html+="</tr>";
            html+="{%endfor%}";
            html+="</table>";
            document.getElementById("tab").innerHTML=html;

        }
    </script>

    <script>
        datePickerSet($("#datepicker1"), $("#datepicker2"), true); //다중은 시작하는 달력 먼저, 끝달력 2번째
        function datePickerSet(sDate, eDate, flag) {

//시작 ~ 종료 2개 짜리 달력 datepicker	
if (!isValidStr(sDate) && !isValidStr(eDate) && sDate.length > 0 && eDate.length > 0) {
    var sDay = sDate.val();
    var eDay = eDate.val();

    if (flag && !isValidStr(sDay) && !isValidStr(eDay)) { //처음 입력 날짜 설정, update...			
        var sdp = sDate.datepicker().data("datepicker");
        sdp.selectDate(new Date(sDay.replace(/-/g, "/")));  //익스에서는 그냥 new Date하면 -을 인식못함 replace필요

        var edp = eDate.datepicker().data("datepicker");
        edp.selectDate(new Date(eDay.replace(/-/g, "/")));  //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
    }

    //시작일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
    if (!isValidStr(eDay)) {
        sDate.datepicker({
            maxDate: new Date(eDay.replace(/-/g, "/"))
        });
    }
    sDate.datepicker({
        language: 'ko',
        autoClose: true,
        onSelect: function () {
            datePickerSet(sDate, eDate);
        }
    });

    //종료일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
    if (!isValidStr(sDay)) {
        eDate.datepicker({
            minDate: new Date(sDay.replace(/-/g, "/"))
        });
    }
    eDate.datepicker({
        language: 'ko',
        autoClose: true,
        onSelect: function () {
            datePickerSet(sDate, eDate);
        }
    });

    //한개짜리 달력 datepicker
} else if (!isValidStr(sDate)) {
    var sDay = sDate.val();
    if (flag && !isValidStr(sDay)) { //처음 입력 날짜 설정, update...			
        var sdp = sDate.datepicker().data("datepicker");
        sdp.selectDate(new Date(sDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
    }

    sDate.datepicker({
        language: 'ko',
        autoClose: true
    });
}

function isValidStr(str) {
    if (str == null || str == undefined || str == "")
        return true;
    else
        return false;
}
}
    </script>
</html>