<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>HIDDEN CHANNEL MONITORING</title>

    </head>
    <body>
        <div id=content>
            <button type="button" onClick="location.href='first/'">GO
        </div>
    </body>


</html>