<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image">

    <title>Hidden Channel Monitoring</title>
    
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->

    <link rel="icon" href="{% static 'images/deepolice_logo.png' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <div class="header">
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1 class="h1-large">DEEPOLICE</h1>
                        <p class="p-large">Hidden Channel Monitoring</p>
                        <a class="btn-solid-lg page-scroll" href="#statement">Start</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <a href="/"><img class="img-fluid" src="{% static 'images/deepolice_logo.png' %}" alt="alternative"></a>
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header -->

    <div id="statement" class="basic-1">
        <div class="container">
            <div class="row">
                <div id=content>
                        <form>
                            <div id=platform >
                                <h4>플랫폼</h4>
                                <input type="radio" name="platforms" value="twitter" > 트위터&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="platforms" value="telegram" > 텔레그램&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="platforms" value="discord" > 디스코드&nbsp;&nbsp;&nbsp;
                            </div>
                            <div id=type>
                                <h4>범죄 유형</h4>
                                <input type="radio" name="crimes" value="sexcrime" > 성범죄&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="crimes" value="drug"> 마약&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="crimes" value="gambling" > 도박&nbsp;&nbsp;&nbsp;
                            </div>
                            <input type="button" class="results" value="GO&#128269;" id="search">
                            <br>
                        </form>
                </div>
                <figure class="highcharts-figure" style="text-align:center; margin-right:240px;">
                    <div id="container" style="display:inline-block;"></div>
                </figure>
                <div id=tab style="width:100%;  padding-bottom:200px;"></div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->

    <footer>
        <div class="copyright bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © DEEPOLICE</p>
                    </div>
                </div> 
            </div>
        </div>
    </footer>

    <div style="position:fixed; bottom:30px; right:5px;"><a href="#statement" style="text-decoration:none; font-size:35px;">&#128285;</a></div>
</body>
</html>
<script type="text/javascript">
    $(".results").click(function(){
        var pl = $("input[name='platforms']:checked").val();      
        var cr = $("input[name='crimes']:checked").val(); 
        $.ajax({ 
            type: "POST", 
            url: "{% url 'main:result' %}", 
            data: {'platforms': pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType: "json", 
            success: function(response){ 
                output(response)
            },
            error: function(request, status, error){
                alert("오류")
            },
            beforeSend:function(){
                var width = 0;
                var height = 0;
                var left = 0;
                var top = 0;
                width = 50;
                height = 50;
                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                if($("#div_ajax_load_image").length != 0) {
                    $("#div_ajax_load_image").css({
                            "top": top+"px",
                            "left": left+"px"
                    });
                    $("#div_ajax_load_image").show();
                }
                else {
                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                }
            },
            complete: function () {
                $("#div_ajax_load_image").hide();
            }
        })
    })
    function output_high(response){
        if (response.num==0)
            alert('검색결과를 찾을 수 없습니다.');
        else{
            if (response.platform=='twitter'){
                var html=""
                document.getElementById("container").innerHTML=html;
                html+="<h5>COUNT OF USERS : "+response.user_num+"</h5>";
                html+="<h5>COUNT OF HIGH-RISK USERS : "+response.high_user_num+"</h5>";
                html+="<h5>COUNT OF MESSAGES : "+response.num+"</h5>";
                html+="<select id='sel' style='float:right; margin-top:-66px; width:130px; text-align:center'>";
                html+="<option value='total' >전체보기</option>";
                html+="<option value='highrisk' selected>고위험군보기</option>";
                html+="</select>";
                $(function() {
                    $("#sel").change(function() {
                        var pl = $("input[name='platforms']:checked").val();      
                        var cr = $("input[name='crimes']:checked").val(); 
                        $.ajax({ 
                            type: "POST", 
                            url: "{% url 'main:result' %}", 
                            data: {'platforms': pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
                            dataType: "json", 
                            success: function(response){ 
                                output(response)
                            },
                            error: function(request, status, error){
                                alert("오류")
                            },
                            beforeSend:function(){
                                var width = 0;
                                var height = 0;
                                var left = 0;
                                var top = 0;
                                width = 50;
                                height = 50;
                                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                                if($("#div_ajax_load_image").length != 0) {
                                    $("#div_ajax_load_image").css({
                                            "top": top+"px",
                                            "left": left+"px"
                                    });
                                    $("#div_ajax_load_image").show();
                                }
                                else {
                                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                                }
                            },
                            complete: function () {
                                $("#div_ajax_load_image").hide();
                            }
                        })
                    });
                });
                html+="<div style='float:right; margin-top:-33px;'>&#128308; 위험 : 70% ~ 100% &#128993; 주의 : 40% ~ 69% &#128994; 안전 : 0% ~ 39%</div>";
                html+="<table>";
                html+="<thead>";
                html+="<tr>";
                html+="<th>USER ID</th>";
                html+="<th>MESSAGE COUNT</th>";
                html+="<th>RISK</th>";
                html+="</tr>";
                html+="</thead>";
                html+="<tbody>";
                for (var key in response.new2_dict){
                    if (response.new2_dict[key][0]>=0.7){
                        html+="<tr>";
                        html+="<td><button style='background-color:transparent;border:0;outline=0;' onclick='messages(\"" + key + "\")'>"+key+"</button></td>";
                        html+="<td>"+response.new2_dict[key][1]+"</td>";
                        if (response.new2_dict[key][0]>=0.7){
                            html+="<td>&#128308; 위험</td>";
                        }
                        html+="</tr>";
                    }
                }
                html+="</tbody>";
                html+="</table>";
                document.getElementById("tab").innerHTML=html;
            }
            else if (response.platform=="telegram" || response.platform=="discord"){
                var channel_id=response.channel_id;
                var html=""
                document.getElementById("container").innerHTML=html;
                html+="<button style='float:right; background-color:transparent;border:0;outline=0;' onclick='back()'>CHANNEL 목록 보기</button>";
                html+="<h5>COUNT OF USERS : "+response.user_num+"</h5>";
                html+="<h5>COUNT OF HIGH-RISK USERS : "+response.high_user_num+"</h5>";
                html+="<h5>COUNT OF MESSAGES : "+response.msg_num+"</h5>";
                html+="<select id='sel' style='float:right; margin-top:-66px; width:130px; text-align:center'>";
                html+="<option value='total'>전체보기</option>";
                html+="<option value='highrisk' selected>고위험군보기</option>";
                html+="</select>";
                $(function() {
                    $("#sel").change(function() {
                        var pl = $("input[name='platforms']:checked").val();
                        var cr = $("input[name='crimes']:checked").val(); 
                        $.ajax({ 
                            type: "POST", 
                            url: "{% url 'main:users_info' %}", 
                            data: {'channel_id': channel_id,'platforms':pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
                            dataType: "json", 
                            success: function(response){
                                users_output(response);
                                var offset = $('#statement').offset();
                                $('html').animate({scrollTop : offset.top}, 300);
                            },
                            error: function(request, status, error){
                                alert("오류")
                            },
                            beforeSend:function(){
                                var width = 0;
                                var height = 0;
                                var left = 0;
                                var top = 0;
                                width = 50;
                                height = 50;
                                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                                if($("#div_ajax_load_image").length != 0) {
                                    $("#div_ajax_load_image").css({
                                            "top": top+"px",
                                            "left": left+"px"
                                    });
                                    $("#div_ajax_load_image").show();
                                }
                                else {
                                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                                }
                            },
                            complete: function () {
                                $("#div_ajax_load_image").hide();
                            }
                        });
                    })
                });
                html+="<div style='float:right; margin-top:-33px;'>&#128308; 위험 : 70% ~ 100% &#128993; 주의 : 40% ~ 69% &#128994; 안전 : 0% ~ 39%</div>";
                html+="<table>";
                html+="<thead>";
                html+="<tr>";
                html+="<th>USER ID</th>";
                html+="<th>MESSAGE COUNT</th>";
                html+="<th>RISK</th>";
                html+="</tr>";
                html+="</thead>";
                html+="<tbody>";
                for (var key in response.user_dict){
                    if (response.user_dict[key][0]>=0.7){
                        html+="<tr>";
                        html+="<td><button style='background-color:transparent;border:0;outline=0;' onclick='messages(\"" + key + "\",\"" + response.channel_id + "\")'>"+key+"</button></td>";
                        html+="<td>"+response.user_dict[key][1]+"</td>";
                        if (response.user_dict[key][0]>=0.7){
                            html+="<td>&#128308; 위험</td>";
                        }
                        html+="</tr>";
                    }
                }
                html+="</tbody>";
                html+="</table>";
                document.getElementById("tab").innerHTML=html;
            }
        }
    }
    function output(response){
        if (response.num==0)
            alert('검색결과를 찾을 수 없습니다.');
        else{
            if (response.platform=='twitter'){
                var html=""
                document.getElementById("container").innerHTML=html;
                html+="<h5>COUNT OF USERS : "+response.user_num+"</h5>";
                html+="<h5>COUNT OF HIGH-RISK USERS : "+response.high_user_num+"</h5>";
                html+="<h5>COUNT OF MESSAGES : "+response.num+"</h5>";
                html+="<select id='sel' style='float:right; margin-top:-66px; width:130px; text-align:center'>";
                html+="<option value='total' selected>전체보기</option>";
                html+="<option value='highrisk'>고위험군보기</option>";
                html+="</select>";
                $(function() {
                    $("#sel").change(function() {
                        var pl = $("input[name='platforms']:checked").val();      
                        var cr = $("input[name='crimes']:checked").val(); 
                        $.ajax({ 
                            type: "POST", 
                            url: "{% url 'main:result' %}", 
                            data: {'platforms': pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
                            dataType: "json", 
                            success: function(response){ 
                                output_high(response)
                            },
                            error: function(request, status, error){
                                alert("오류")
                            },
                            beforeSend:function(){
                                var width = 0;
                                var height = 0;
                                var left = 0;
                                var top = 0;
                                width = 50;
                                height = 50;
                                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                                if($("#div_ajax_load_image").length != 0) {
                                    $("#div_ajax_load_image").css({
                                            "top": top+"px",
                                            "left": left+"px"
                                    });
                                    $("#div_ajax_load_image").show();
                                }
                                else {
                                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                                }
                            },
                            complete: function () {
                                $("#div_ajax_load_image").hide();
                            }
                        })
                    });
                });
                html+="<div style='float:right; margin-top:-33px;'>&#128308; 위험 : 70% ~ 100% &#128993; 주의 : 40% ~ 69% &#128994; 안전 : 0% ~ 39%</div>";
                html+="<table>";
                html+="<thead>";
                html+="<tr>";
                html+="<th>USER ID</th>";
                html+="<th>MESSAGE COUNT</th>";
                html+="<th>RISK</th>";
                html+="</tr>";
                html+="</thead>";
                html+="<tbody>";

                for (var key in response.new2_dict){
                    html+="<tr>";
                    html+="<td><button style='background-color:transparent;border:0;outline=0;' onclick='messages(\"" + key + "\")'>"+key+"</button></td>";
                    html+="<td>"+response.new2_dict[key][1]+"</td>";
                    if (response.new2_dict[key][0]>=0.7){
                        html+="<td>&#128308; 위험</td>";
                    }
                    else if(response.new2_dict[key][0]>=0.4){
                        html+="<td>&#128993; 주의</td>";
                    }
                    else {
                        html+="<td>&#128994; 안전</td>";
                    }
                    html+="</tr>";
                }
                html+="</tbody>";
                html+="</table>";
                document.getElementById("tab").innerHTML=html;
            }
            else if (response.platform=="telegram" || response.platform=="discord"){
                var html=""
                document.getElementById("container").innerHTML=html;
                html+="<h5>TOTAL CHANNELS : "+Object.keys(response.channel_dict).length+"</h5>"
                html+="<h5>TOTAL MESSAGES : "+response.num+"</h5>"
                html+="<h5>TOTAL USERS : "+response.user_num+"</h5>"
                html+="<table>";
                html+="<thead>";
                html+="<tr>";
                html+="<th>CHANNEL ID</th>";
                html+="<th>NUMBER OF USERS</th>";
                html+="<th>NUMBER OF HIGH-RISK USERS</th>";
                html+="</tr>";
                html+="</thead>";
                html+="<tbody>";
                for (var key in response.channel_dict){
                    html+="<tr>";
                    html+="<td><button style='background-color:transparent;border:0;outline=0;' onclick='users(\"" + key + "\")' >"+key+"</button></td>";
                    html+="<td>"+response.channel_dict[key][0]+"</a></td>";
                    html+="<td>"+response.channel_dict[key][1]+"</a></td>";
                    html+="</tr>";
                }
                html+="</tbody>";
                html+="</table>";
                document.getElementById("tab").innerHTML=html;
            }
        }
    }
    function users(id){
            var pl = $("input[name='platforms']:checked").val();
            var cr = $("input[name='crimes']:checked").val(); 
            var channel_id=id;
            $.ajax({ 
                type: "POST", 
                url: "{% url 'main:users_info' %}", 
                data: {'channel_id': channel_id,'platforms':pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
                dataType: "json", 
                success: function(response){
                    users_output(response);
                    var offset = $('#statement').offset();
                    $('html').animate({scrollTop : offset.top}, 300);
                },
                error: function(request, status, error){
                    alert("오류")
                },
                beforeSend:function(){
                    var width = 0;
                    var height = 0;
                    var left = 0;
                    var top = 0;
                    width = 50;
                    height = 50;
                    top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                    left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                    if($("#div_ajax_load_image").length != 0) {
                        $("#div_ajax_load_image").css({
                                "top": top+"px",
                                "left": left+"px"
                        });
                        $("#div_ajax_load_image").show();
                    }
                    else {
                        $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                    }
                },
                complete: function () {
                    $("#div_ajax_load_image").hide();
                }
            });
        }
    function users_output(response){
        if (response.platform=="telegram" || response.platform=="discord"){
            var channel_id=response.channel_id;
            var html=""
            document.getElementById("container").innerHTML=html;
            html+="<button style='float:right; background-color:transparent;border:0;outline=0;' onclick='back()'>CHANNEL 목록 보기</button>";
            html+="<h5>COUNT OF USERS : "+response.user_num+"</h5>";
            html+="<h5>COUNT OF HIGH-RISK USERS : "+response.high_user_num+"</h5>";
            html+="<h5>COUNT OF MESSAGES : "+response.msg_num+"</h5>";
            html+="<select id='sel' style='float:right; margin-top:-66px; width:130px; text-align:center'>";
            html+="<option value='total' selected>전체보기</option>";
            html+="<option value='highrisk'>고위험군보기</option>";
            html+="</select>";
            $(function() {
                $("#sel").change(function() {
                    var pl = $("input[name='platforms']:checked").val();
                    var cr = $("input[name='crimes']:checked").val(); 
                    $.ajax({ 
                        type: "POST", 
                        url: "{% url 'main:users_info' %}", 
                        data: {'channel_id': channel_id,'platforms':pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
                        dataType: "json", 
                        success: function(response){
                            output_high(response);
                            var offset = $('#statement').offset();
                            $('html').animate({scrollTop : offset.top}, 300);
                        },
                        error: function(request, status, error){
                            alert("오류")
                        },
                        beforeSend:function(){
                            var width = 0;
                            var height = 0;
                            var left = 0;
                            var top = 0;
                            width = 50;
                            height = 50;
                            top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                            left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                            if($("#div_ajax_load_image").length != 0) {
                                $("#div_ajax_load_image").css({
                                        "top": top+"px",
                                        "left": left+"px"
                                });
                                $("#div_ajax_load_image").show();
                            }
                            else {
                                $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                            }
                        },
                        complete: function () {
                            $("#div_ajax_load_image").hide();
                        }
                    });
                })
            });
            html+="<div style='float:right; margin-top:-33px;'>&#128308; 위험 : 70% ~ 100% &#128993; 주의 : 40% ~ 69% &#128994; 안전 : 0% ~ 39%</div>";
            html+="<table>";
            html+="<thead>";
            html+="<tr>";
            html+="<th>USER ID</th>";
            html+="<th>MESSAGE COUNT</th>";
            html+="<th>RISK</th>";
            html+="</tr>";
            html+="</thead>";
            html+="<tbody>";

            for (var key in response.user_dict){
                html+="<tr>";
                html+="<td><button style='background-color:transparent;border:0;outline=0;' onclick='messages(\"" + key + "\",\"" + response.channel_id + "\")'>"+key+"</button></td>";
                html+="<td>"+response.user_dict[key][1]+"</td>";
                if (response.user_dict[key][0]>=0.7){
                    html+="<td>&#128308; 위험</td>";
                }
                else if(response.user_dict[key][0]>=0.4){
                    html+="<td>&#128993; 주의</td>";
                }
                else {
                    html+="<td>&#128994; 안전</td>";
                }
                html+="</tr>";
            }
            html+="</tbody>";
            html+="</table>";
            document.getElementById("tab").innerHTML=html;
        }
    }

    function back(){
        var pl = $("input[name='platforms']:checked").val();      
        var cr = $("input[name='crimes']:checked").val(); 
        $.ajax({ 
            type: "POST", 
            url: "{% url 'main:result' %}", 
            data: {'platforms': pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType: "json", 
            success: function(response){ 
                output(response)
            },
            error: function(request, status, error){
                alert("오류")
            },
            beforeSend:function(){
                var width = 0;
                var height = 0;
                var left = 0;
                var top = 0;
                width = 50;
                height = 50;
                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                if($("#div_ajax_load_image").length != 0) {
                    $("#div_ajax_load_image").css({
                            "top": top+"px",
                            "left": left+"px"
                    });
                    $("#div_ajax_load_image").show();
                }
                else {
                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                }
            },
            complete: function () {
                $("#div_ajax_load_image").hide();
            }
        });
    }
    function back2(id){
        var pl = $("input[name='platforms']:checked").val();
        var cr = $("input[name='crimes']:checked").val(); 
        var channel_id=id;
        $.ajax({ 
            type: "POST", 
            url: "{% url 'main:users_info' %}", 
            data: {'channel_id': channel_id,'platforms':pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType: "json", 
            success: function(response){
                users_output(response);
                var offset = $('#statement').offset();
                $('html').animate({scrollTop : offset.top}, 300);
            },
            error: function(request, status, error){
                alert("오류")
            },
            beforeSend:function(){
                var width = 0;
                var height = 0;
                var left = 0;
                var top = 0;
                width = 50;
                height = 50;
                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                if($("#div_ajax_load_image").length != 0) {
                    $("#div_ajax_load_image").css({
                            "top": top+"px",
                            "left": left+"px"
                    });
                    $("#div_ajax_load_image").show();
                }
                else {
                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                }
            },
            complete: function () {
                $("#div_ajax_load_image").hide();
            }
        });
    }
    function messages(id,ch_id){
        var user_id=id;
        var channel_id=ch_id;
        var pl = $("input[name='platforms']:checked").val();      
        var cr = $("input[name='crimes']:checked").val(); 
        $.ajax({ 
            type: "POST", 
            url: "{% url 'main:messages_info' %}", 
            data: {'user_id': user_id,'channel_id': channel_id,'platforms':pl,'crimes':cr,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType: "json", 
            success: function(response){
                messages_output(response);
                var offset = $('#statement').offset();
                $('html').animate({scrollTop : offset.top}, 300);
            },
            error: function(request, status, error){
                alert("오류")
            },
            beforeSend:function(){
                var width = 0;
                var height = 0;
                var left = 0;
                var top = 0;
                width = 50;
                height = 50;
                top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
                left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

                if($("#div_ajax_load_image").length != 0) {
                    $("#div_ajax_load_image").css({
                            "top": top+"px",
                            "left": left+"px"
                    });
                    $("#div_ajax_load_image").show();
                }
                else {
                    $('body').append('<div id="div_ajax_load_image" style="position:absolute; top:' + top + 'px; left:' + left + 'px; width:' + width + 'px; height:' + height + 'px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; "><img src="{% static "images/ajax-loader.gif" %}" style="width:70px; height:70px;"></div>');
                }
            },
            complete: function () {
                $("#div_ajax_load_image").hide();
            }
        });
    }
    function messages_output(response){
        if (response.platform=="twitter"){
            var html=""
            html+="<button style='float:right; background-color:transparent;border:0;outline=0; margin-top:33px;' onclick='back()'>USER 목록 보기</button>";
            html+="<h5>USER ID : "+response.user_id+"</h5>";
            html+="<h5>MESSAGE COUNT : "+response.msg_num+"</h5>";
            html+="<table>";
            html+="<thead>";
            html+="<tr>";
            html+="<th>TIME</th>";
            html+="<th>MESSAGE</th>";
            html+="</tr>";
            html+="</thead>";
            html+="<tbody>";
            for (var i=0; i<response.arr.length; i++){
                html+="<tr>";
                html+="<td>"+response.arr[i]['date']+"</td>";
                html+="<td>"+response.arr[i]['message']+"</td>";
                html+="</tr>";
            }
            html+="</tbody>";
            html+="</table>";
            document.getElementById("tab").innerHTML=html;
            wordcloud(response.text);
        }
        else if (response.platform=="telegram" || response.platform=="discord"){
            var html=""
            html+="<button style='float:right; background-color:transparent;border:0;outline=0;' onclick='back2(\""+response.channel_id+"\")'>USER 목록 보기</button>";
            html+="<h5>USER ID : "+response.user_id+"</h5>";
            html+="<h5>MESSAGE COUNT : "+response.msg_num+"</h5>";
            html+="<table>";
            html+="<thead>";
            html+="<tr>";
            html+="<th>TIME</th>";
            html+="<th>MESSAGE</th>";
            html+="</tr>";
            html+="</thead>";
            html+="<tbody>";
            for (var i=0; i<response.arr.length; i++){
                html+="<tr>";
                html+="<td>"+response.arr[i]['date']+"</td>";
                html+="<td>"+response.arr[i]['message']+"</td>";
                html+="</tr>";
            }
            html+="</tbody>";
            html+="</table>";
            document.getElementById("tab").innerHTML=html;
            wordcloud(response.text);
        }
    }
    history.pushState(null, null, "http://127.0.0.1:8000"); 
    window.onpopstate = function(event) { 
        history.go(1); 
    };


  </script>
  <script>
      function wordcloud(text){
        lines = text.split(/[,\. ]+/g),
        data = lines.reduce((arr, word) => {
            let obj = Highcharts.find(arr, obj => obj.name === word);
            if (obj) {
                obj.weight += 1;
            } else {
                obj = {
                    name: word,
                    weight: 1
                };
                arr.push(obj);
            }
            return arr;
        }, []);

        Highcharts.chart('container', {
            chart:{
                height:460,
                width:1000
            },
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            series: [{
                type: 'wordcloud',
                data,
                name: 'Occurrences',
                turboThreshold:0
            }],
            title: {
                text: ''
            }
        });
      }
  </script>
