*{margin:0px; padding:0px;font-family: 'Do Hyeon', sans-serif;}

header{
    width:100%;
    height:150px;
    background-color:white;
    position:relative;
}

footer{
    width:100px;
    height:30px;
    background-color: white;
}
#logo{
    left:5px;
    float:left;
    width:130px;
    height:130px;
    margin-top:10px;
    margin-bottom:10px;
}
#title{
    height:100px;
    color:darkblue;
    font-size:40px;
    text-align:center;
    padding-right:110px;
    
}
#content{
    float:right;
    width:100%;
    height:700px;
    background-color: aliceblue;
}

#platform,#type{
    float:left;
    width:15%;
    height:100px;
    margin:10px;
}
#submit{
    float:left;
    width:20%;
    height:100px;
    margin:10px;
}
#platform{
    margin-left:210px;
}
#calender{
    float:left;
    width:26%;
    height:100px;
    margin:10px;
}
#search{
    float:left;
    width: 60px;
    height:40px;
    margin-top:30px;
    font-size: 18px;
    color: white;
    background-color:darkblue;
    border-radius: 5px;
    border: none;
}

table {
    width: 99%;
    margin:auto;
}
table,th,td{
    border: 1.3px solid #6672e0;
    text-align:center;
    height:30px;
}
th{
    background-color: rgb(204, 223, 252);
    font-size:20px;
}
